@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background: #04000a;
  --bg-navigation: #ffffff;
}

/* * {
  cursor: none !important;
} */

/* No Scrollbar
::-webkit-scrollbar {
  display: none;
} */

@layer components {
  /* Headings */
  .heading-1 {
    @apply text-[40px] font-semibold;
  }
  .heading-2 {
    @apply text-[36px] font-semibold;
  }
  .heading-3 {
    @apply text-[32px] font-semibold;
  }
  .heading-4 {
    @apply text-[28px] font-semibold;
  }
  .heading-5 {
    @apply text-[24px] font-semibold;
  }
  .heading-6 {
    @apply text-[18px] font-semibold;
  }
  /* End Headings */

  /* Hero */
  .line-1 {
    @apply h-[3px] w-[79px] rounded-sm bg-gray-400;
  }
  .socmed {
    @apply flex size-9 items-center justify-center rounded-full bg-bgSocmed text-prLavender transition duration-100 hover:text-white md:size-16 lg:size-9;
  }
  .iconSocmed {
    @apply size-6 md:size-10 lg:size-6;
  }
  .contactMe {
    @apply rounded-md border border-prLavender px-2 py-2 text-prLavender transition duration-100 hover:border-white hover:text-white;
  }
  .downloadCV {
    @apply w-[165px] justify-center rounded-md border border-prLavender bg-prLavender px-3 py-2 font-semibold transition duration-100 hover:bg-cvHover hover:text-white md:w-[190px] md:px-5 md:py-3 md:text-lg lg:w-[165px] lg:px-3 lg:py-2 lg:text-base;
  }
  .moreAboutMe {
    @apply w-[165px] rounded-md border border-white px-3 py-2 font-semibold text-white transition duration-100 hover:border-prLavender hover:text-prLavender md:w-[190px] md:px-5 md:py-3 md:text-lg lg:w-[165px] lg:px-3 lg:py-2 lg:text-base;
  }
  /* End Hero */

  /* Slider */
  .slide-box {
    @apply flex items-center justify-center space-x-9 overflow-hidden rounded-xl md:h-[230px] md:w-[725px] lg:h-[300px] lg:w-[1050px];
  }
  .slide-container {
    @apply items-center justify-center rounded-xl border bg-sldcontainer font-semibold transition-all md:h-[90px] md:w-[180px] lg:h-[120px] lg:w-[300px];
  }
  .slide-container-sm {
    @apply flex flex-col items-center justify-center rounded-xl border bg-sldcontainer font-semibold;
  }
  .slide-box-sm {
    @apply flex flex-col items-center justify-center rounded-xl bg-sldGrey;
  }
  /* End Slider */

  /* Status */
  .status-box {
    @apply flex h-40 w-48 flex-col items-center justify-center space-y-2 rounded-md border-2 border-dashed border-white bg-srBlack p-4 opacity-90 transition duration-100 hover:border-prLavender hover:bg-prLavender hover:text-white md:h-44 md:w-52 lg:h-52 lg:w-60;
  }
  /* End Status */

  /* Tools and Skills */
  .skill-icon {
    @apply mx-3 flex flex-col items-center text-center md:mx-7;
  }
  .skill-text {
    @apply mt-4 text-base font-semibold md:mt-3 md:text-xl;
  }
  /* End Tools and Skills */

  /* Project */
  /* Title Text */
  .text-outline {
    @apply absolute left-[-100px] w-full text-[0px] font-semibold text-transparent sm:text-[88px] md:left-[-80px] md:text-[130px] lg:text-[150px];
    -webkit-text-stroke: 1px #99999933;
  }
  /* End Title Text */

  /* Project Box */
  .project-box {
    @apply h-full w-full md:px-3;
  }

  .project-btn {
    @apply relative inline-block cursor-pointer border-0 bg-transparent p-0 align-middle no-underline outline-none;
  }
  .btn-content {
    @apply h-auto w-48;
  }
  .btn-circle {
    @apply relative m-0 block h-12 w-12 rounded-[1.625rem] transition-all duration-[0.40s] ease-[cubic-bezier(0.65,0,0.076,1)];
  }
  .btn-icon {
    @apply absolute inset-y-0 m-auto bg-white transition-all duration-[0.40s] ease-[cubic-bezier(0.65,0,0.076,1)];
  }
  .btn-arrow {
    @apply left-2.5 h-0.5 w-[1.125rem] bg-transparent transition-all duration-[0.45s] ease-[cubic-bezier(0.65,0,0.076,1)] before:absolute before:right-px before:top-[-0.29rem] before:h-2.5 before:w-2.5 before:rotate-45 before:border-r-2 before:border-t-2 before:border-solid before:border-r-white before:border-t-white before:content-[""];
  }
  .btn-text {
    @apply absolute inset-0 my-0 ml-[1.85rem] mr-0 px-0 py-3 text-center font-bold uppercase leading-[1.6] text-white transition-all duration-[0.45s] ease-[cubic-bezier(0.65,0,0.076,1)];
  }
  .project-btn:hover .btn-circle {
    @apply w-full;
  }
  .project-btn:hover .btn-arrow {
    @apply translate-x-1 translate-y-0;
  }

  .custom-prev {
    @apply absolute left-0 top-1/2 z-10 -translate-y-1/2 rounded-full bg-white/20 p-2 transition hover:bg-white/40;
  }
  .custom-next {
    @apply absolute right-0 top-1/2 z-10 -translate-y-1/2 rounded-full bg-white/20 p-2 transition hover:bg-white/40;
  }

  .custom-prev.disabled,
  .custom-next.disabled {
    @apply bg-gray-400 opacity-60;
  }
  /* End Project */

  /* Contact Person */
  .contact-icon-box {
    @apply flex size-8 items-center justify-center rounded-full border border-white text-white transition duration-100 hover:border-prLavender hover:text-prLavender md:size-10;
  }
  .contact-icon {
    @apply size-4 md:size-6;
  }
  /* End Contact Person */
}
